.favorite-button{
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size:1.5rem;
    display: flex;
    align-items: center;
    padding: 0;
}

.favorite-button i{
    color: #ff0000;
    transition: .3s;
    background: none;
}

.favorite-button.favorite i{
    color: #ff0000;
}

.favorite-button:hover i{
    color: #b22222;
}

.favorite-button:hover{
    background: none;
    
}


